.logo img {
    width: 150px;
}

.logo {
    width: 40px;
    

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.right ul {
    display: flex;
    gap: 34px;

}

.right ul li {
    list-style: none;
}

.first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    margin: 80px;
    font-family: sans-serif;

}

.first span {
    font-size: 34px;

}

section span img {
    width: 42px;
    margin 23px
}

.first p {
    font-size: 25px;
    text-align: centerrgb(9, 83, 83)
}


.flex {
    display: flex;
}

.second {
    max-width: 76vw;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.btn {
    background-color: rgb(5, 161, 161);
    padding: 11px 12px;
    color: white;
    border: none;
    border-radius: 3px;
    font-weight: bolder;
    margin: 12px 0;
    display: inline;
    cursor: pointer;
    
}
.btn a{
    text-decoration: none;
    color: white;
}

.green {
    background-color: rgb(38, 160, 38);
}

.item {
    padding: 23px;
    background: rgb(230, 226, 226);
    border-radius: 12px;
    text-align: center;

}

.grid {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 12px;
}

.item-lang {
    font-weight: 700;
    text-align: center;
    padding-bottom: 33px;

}
.small{
    font-size: 15px;
}
.download :nth-child(2){
    font-size: 23px;
}
.download{
    display: flex;
    align-items: center;
    gap: 12px;
}
.download img{
    padding: 0px 12px;
}
@media screen and (max-width: 1145px){
    .grid{
      
        grid-template-columns: 1fr;
        gap: 12px ;

    }
}